.profileCard {
    width: 280px;
    text-align: center;
    border: 1px solid lightgray;
    font-family: Helvetica, Arial, Sans-Serif;
  }
  
  .topImage img {
    position: relative;
    width: 280px;
    height: 160px;
    object-fit: cover;
  }
  
  .userImage img {
    width: 80px;
    border-radius: 50%;
    border: 3px solid rgb(178, 110, 155);
    position: relative;
    bottom: 50px;
  }
  
  .userPersonalInfo {
    text-align: center;
  }
  
  .userNameAndDescription{
    margin-top: -40px;
    padding-bottom: 20px;
  }
  
  .userName{
    font-weight: bold;
    color: grey;
  }
  
  .userDescription{
    color: grey;
    font-size: 0.8em;
    padding-top: 7px;
  }
  
  .followButton {
    display: inline-block;
    padding: 7px;
    margin-bottom: 20px;
    border: 3px solid rgb(94, 156, 202);
    color: rgb(94, 156, 202);
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.7em;
    width: 90px;
  }
  
  .threeColumns {
    border-top: 1px solid gray;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
  }
  
  .quantityAndType {
    padding: 15px;
  }
  
  .threeColumns > *:not(:last-child) {
    border-right: 1px solid gray;
  }
  
  .threeColumns .quantity {
    font-size: 20px;
  }
  
  .threeColumns .type {
    color: grey;
    font-size: 0.8em;
  }